
 /*FOR DEBUGGING FOCUS */
/**:focus
{
    outline:#00FF00 dotted thick;
}*/

.floatLeft{
  float:left;
}

.overflowhidden{
  overflow: hidden;
}
.pear-grid{
  border: 1px solid gray;
 /* -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/
  position: relative;
  overflow:hidden;
}

.pear-grid.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.pear-grid-cell-editor{
  background: #FFFFCC;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}
.pear-grid-align-right{
  text-align: right;
}

.pear-grid-align-left{
  text-align: left;
}

.pear-grid-viewport{
  overflow-y:scroll;
}

.pear-grid-header,
.pear-grid-footer{
  overflow:hidden;
};
.pear-grid-body-canvas{
  position: relative;
}

.pear-grid-row-header,
.pear-grid-row-footer{
  padding:0px 0px 0px 0px;
}
.pear-grid-row-header, .pear-grid-row-footer,
.pear-grid-viewport{
  position: relative;
  outline:none;
}
.pear-grid-row-header
{
  background: rgb(230, 230, 230);
}

.pear-grid-row-footer
{
  background: rgb(243, 245, 255);
}
/*
.pear-grid-row-footer{
  padding:2px 2px 2px 2px;
  display: inline-block;
  outline: none;
}
*/
.pear-grid-row-data{
  position: absolute;
  outline:none;
  background: white;
}

.pear-grid-row-data-horizontal{
}

.pear-grid-row-over .pear-grid-cell{
  background: rgb(230, 230, 230);
}
.pear-grid-row-data-even{
  background: white;
}
.pear-grid-row-data-odd{
  background: rgb(237, 245, 255);
}

.pear-grid-row-data-odd .pear-grid-row-over .pear-grid-cell{
  background: rgb(230, 230, 230);
}

.highlight-row .pear-grid-row-highlight .pear-grid-cell ,
.highlight-cell .pear-grid-cell-data-hover .pear-grid-cell-data-content{
  /*background: #E0EEEE;*/
}

.pear-grid-row-select .pear-grid-cell-data{
  background: #E0E5EB;
}

.pear-grid-row-detail{
  border-right: 1px dotted silver;
  border-top: 0px;
  border-bottom: 0px;
  width:100%;
  overflow:hidden;
}
.pear-grid-cell{
  position: absolute;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin: 0;
  white-space: nowrap;
  cursor: default;
  background-color: inherit;
  border-right: 1px dotted silver;
  border-top-width: 1px;
  border-top-style: solid;
}
.bottom-border{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: silver;
}

.pear-grid-cell-frozen{
  z-index:1;
}

.pear-grid-cell-header ,
.pear-grid-cell-footer{
  display: inline-block;
  position: absolute;
  /* TODO - avoid this reset*/
  border-top-width: 0px;
}

.pear-grid-cell-footer
{
  font-weight: bold;
  border-top-color: silver;
  border-top-width: 1px;
  border-top-style: solid;
  vertical-align: middle;
  text-align: left;
}

.pear-grid-cell-footer-content {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.pear-grid-cell-header-hover{
  background: rgb(237, 245, 255);
}

.pear-grid-cell-header-content{
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float:left;
}
.pear-grid-cell-header-indicators{
  display: -moz-inline-box;
  display: inline-block;
  float: left;
  outline:none;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.pear-grid-cell-header-hover .pear-grid-cell-header-indicators{
 background: rgb(237, 245, 255);
}
 
.pear-grid-cell-header-sort{
  display: -moz-inline-box;
  display: inline-block;
  float: left;
  outline:none;
  padding-left:2px;
  padding-right:2px;
}
.pear-grid-cell-header-slidemenu {
  display: -moz-inline-box;
  display: inline-block;
  float: left;
  outline:none;
  padding-left:5px;
  padding-right:5px;
  left:100%;
  position: absolute;
  cursor:pointer;
  border-left:1px solid rgb(192, 192, 192);
  height:100%;
}


.pear-grid-cell-header-hover .pear-grid-cell-header-slidemenu{
   display: inline-block;
}
.pear-grid-row-highlight .pear-grid-cell-data-highlight .pear-grid-cell-data-content{
  border: 1px solid black;
}

.pear-grid-cell-data-selected {
  background: #E0E5EB;
}

.pear-grid-cell-data{
  display: inline-block;
  position: absolute;
}

.pear-grid-cell-data-content , .pear-grid-cell-header-content{
  padding-left: 4px; 
  padding-right: 4px; 
  padding-top: 2px;
  padding-bottom:2px;
}

.pear-ui-resizable-handle {
  font-size: 0.1px;
  position: absolute;
  display: block;
  cursor: col-resize;
}



  .pear-ui-resizable-e {
    right: 0px;
    top: 0px;
    width: 2px;
    height: 100%;
    /*cursor: e-resize;*/
  }

  .pear-ui-resizable-w {
    left: 0px;
    top: 0px;
    width: 5px;
    height: 100%;
    cursor: e-resize;
  }

  .pear-ui-resizable-s {
    cursor: s-resize;
    height: 5px;
    width: 100%;
    left: 0px;
    bottom: -5px;
  }

  .pear-ui-resizable-n {
    cursor: s-resize;
    height: 5px;
    width: 100%;
    left: 0px;
    top: -5px;
  }
  .pear-ui-resizable-se {
    cursor: se-resize;
    height: 10px;
    width: 10px;
    right: -5px;
    bottom: -5px;
  }
  .pear-ui-resizable-sw {
    cursor: sw-resize;
    height: 10px;
    width: 10px;
    left: -5px;
    bottom: -5px;
  }

  .pear-ui-resizable-ne {
    cursor: ne-resize;
    height: 10px;
    width: 10px;
    right: -5px;
    top: -5px;
  }
  .pear-ui-resizable-nw {
    cursor: nw-resize;
    height: 10px;
    width: 10px;
    left: -5px;
    top: -5px;
  }


  .pear-ui-resizable-corner{
    opacity:1;
  }
